<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="home" id="navbarNav">
        <ul>
          <li class="nav-item active">
            <a class="nav-link" href="#home">Home</a>
          </li>
        </ul>
    </div>
  <form class="form-inline p-5 my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search user or repository" aria-label="Search">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Submit</button>
  </form>
</nav>  
