button{
border-radius: 8px;
text-decoration: none;
display: inline-block;
font-size: 30px;
margin: 4px 2px;
border: none;
color: blue;
text-align: center;
  
}
li a{
  font-size:30px;
  text-decoration: none;
}

.navbar{
  margin-bottom:0;

}
.form-control{
  color:white;
  font-size:30px;
  text-align: center;
  text-decoration: none;
}
input{
  /* border:2px; */
  width:20%;
}